# TimeSeries Index

- pd.to_datetime
- pd.date_range
- year,month,day 추출하는 방법
- 월별 수익률을 구하는 방법

In [7]:
import pandas as pd

ten_year_rate_path = "/Users/kimdongwoo/pandas_study/pandas/강의자료/Data/10Y Rate.csv"
df = pd.read_csv(ten_year_rate_path, index_col = "Date")
df.index = pd.to_datetime(df.index)
df

            Close   Open   High    Low  Change
Date
2000-10-26  8.300  8.300  8.300  8.300 -0.0060
2000-10-27  8.240  8.240  8.240  8.240 -0.0072
2000-10-28  8.240  8.240  8.240  8.240  0.0000
2000-10-30  8.220  8.220  8.220  8.220 -0.0024
2000-11-01  8.150  8.150  8.150  8.150 -0.0085
...           ...    ...    ...    ...     ...
2021-12-24  2.210  2.188  2.220  2.185 -0.0023
2021-12-25  2.202  2.202  2.202  2.202 -0.0036
2021-12-26  2.202  2.202  2.202  2.202  0.0000
2021-12-27  2.212  2.204  2.219  2.196  0.0045
2021-12-28  2.196  2.213  2.221  2.196 -0.0072

[5582 rows x 5 columns]

In [5]:
# 인덱스를 만드는 과정임
# 2020-10-26 부터 끝은 지정하지 않고, 100개의 날짜를 생성함
timeSeries_index = pd.date_range(start="2020-10-26", end = None, periods = 100) 
timeSeries_index

DatetimeIndex(['2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
               '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
               '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
               '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
               '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
               '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
               '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
               '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
               '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
               '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
               '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
               '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
               '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
               '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
               '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
               '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
               '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
               '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
               '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.index.year
df.index.month
df.index.day

df["Year"] = df.index.year
df["Month"] = df.index.month
df["Day"] = df.index.day

In [18]:
import numpy as np
df['Condition'] = np.where(df['Month'] == df['Month'].shift(1),0,1)
df["IndexNumber"] = range(df.shape[0])

index_condition_number = df[df["Condition"] == 1]["IndexNumber"].values - 1
df_condition = df.iloc[index_condition_number[1:]]
df_monthly_return = df_condition["Close"].pct_change()
df_monthly_return

Date
2000-10-30         NaN
2000-11-30   -0.057178
2000-12-29   -0.063226
2001-01-31   -0.097796
2001-02-28    0.045802
                ...
2021-07-31   -0.107553
2021-08-31    0.024103
2021-09-30    0.169979
2021-10-31    0.145731
2021-11-30   -0.134608
Name: Close, Length: 254, dtype: float64

# Format
- 내가 불러온 데이터 형식이 'str'로 되어 있다면?

In [22]:
data_path = "/Users/kimdongwoo/pandas_study/pandas/강의자료/Data/data.csv"
df = pd.read_csv(data_path, encoding = "cp949")

df

lst = []

for i in range(df.shape[0]):
    value = df["종가"][i]
    value_change = int(value.replace(",",""))
    lst.append(value_change)

df["종가"] = lst
df 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      250 non-null    object
 1   종가      250 non-null    int64
 2   대비      250 non-null    int64
 3   등락률     250 non-null    float64
 4   시가      250 non-null    object
 5   고가      250 non-null    object
 6   저가      250 non-null    object
 7   거래량     250 non-null    object
 8   거래대금    250 non-null    object
 9   가중평균    250 non-null    object
dtypes: float64(1), int64(2), object(7)
memory usage: 19.7+ KB

In [24]:
df = pd.read_csv(data_path, encoding = 'cp949', thousands = ',')
df

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,가중평균
0,2022-01-06,35050,0,0.00,0,0,0,0,0,0
1,2022-01-05,35050,-50,-0.14,35250,35300,35050,8000,281875000,35234
2,2022-01-04,35100,0,0.00,35100,35200,35100,4800,168580000,35121
3,2022-01-03,35100,0,0.00,35100,35100,35100,4200,147420000,35100
4,2021-12-30,35100,50,0.14,35100,35150,35050,48348,1697057400,35101
...,...,...,...,...,...,...,...,...,...,...
245,2021-01-12,19800,0,0.00,0,0,0,0,0,0
246,2021-01-11,19800,0,0.00,0,0,0,0,0,0
247,2021-01-08,23000,0,0.00,0,0,0,0,0,0
248,2021-01-07,23000,0,0.00,0,0,0,0,0,0
249,2021-01-06,23000,0,0.00,0,0,0,0,0,0

# 기초통계

In [25]:
df = pd.read_csv(ten_year_rate_path, index_col="Date")
df.index = pd.to_datetime(df.index)

df

            Close   Open   High    Low  Change
Date
2000-10-26  8.300  8.300  8.300  8.300 -0.0060
2000-10-27  8.240  8.240  8.240  8.240 -0.0072
2000-10-28  8.240  8.240  8.240  8.240  0.0000
2000-10-30  8.220  8.220  8.220  8.220 -0.0024
2000-11-01  8.150  8.150  8.150  8.150 -0.0085
...           ...    ...    ...    ...     ...
2021-12-24  2.210  2.188  2.220  2.185 -0.0023
2021-12-25  2.202  2.202  2.202  2.202 -0.0036
2021-12-26  2.202  2.202  2.202  2.202  0.0000
2021-12-27  2.212  2.204  2.219  2.196  0.0045
2021-12-28  2.196  2.213  2.221  2.196 -0.0072

[5582 rows x 5 columns]

In [26]:
df.min()
df.max()
df.std() # 각 칼럼의 표준편차
df.corr() # 상관계수를 계산함

           Close      Open      High       Low    Change
Close   1.000000  0.999300  0.999315  0.999326  0.023822
Open    0.999300  1.000000  0.999952  0.999945 -0.005237
High    0.999315  0.999952  1.000000  0.999897 -0.003110
Low     0.999326  0.999945  0.999897  1.000000 -0.003039
Change  0.023822 -0.005237 -0.003110 -0.003039  1.000000